{% extends "polls/base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
              	<small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
           </div>
           <h2 class="article-title">{{ object.title }}</h2>
	   <p class="article-content">{{ object.content }}</p>
	   <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc7Gn0efHQsNRypyODx6yGcMN4cXRdjZ7LjUVNMm6_2mKH7Ag/viewform?embedded=true" width="640" height="1549" frameborder="0" marginheight="0" marginwidth="0">Chargement…</iframe>
	   <button type="button" class="btn btn-primary btn-lg btn-block">Formulaire spéciale allergie</button>
	   <button type="button" class="btn btn-secondary btn-lg btn-block">Formulaire végétarien</button>
	   <button type="button" class="btn btn-tertiary btn-lg btn-block">Formulaire végan</button>
	   <button type="button" class="btn btn-quaternary btn-lg btn-block">Formulaire hallal</button>
	   <button type="button" class="btn btn-quinary btn-lg btn-block">Formulaire pour enfant en bas-âge</button>
	</div>
    </article>	
{% endblock content %}
